################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderManager/order.commandservices/obj
/OrderManager/order.commandservices/bin/Debug/netstandard2.0
/OrderManager/order.queryservices/obj
/OrderManager/order.queryservices/bin/Debug/netstandard2.0
/OrderManager/ordermanagerdb/bin/Debug
/OrderManager/ordermanagerdb/obj/Debug
/OrderManager/unittests/obj
/OrderManager/unittests/bin/Debug/netcoreapp2.1
/OrderManager/webapi/bin/Debug/netcoreapp2.1
/OrderManager/webapi/obj
/OrderManager/webui/.vs/webui/v15/Server/sqlite3
/OrderManager/webui/.vs/webui/v15/.suo
