<h1>Order Management</h1>
<p>This application maintains the orders and address for the ecommerce platform.</p>

<p>Main functionalities:</p>
<ul>
  <li><strong>Order Management</strong> You can see the available <code>order</code> here</li>
  <li><strong>Address Management</strong> The <code>address</code>  validated in the system can be managed here</li>
  <li><strong>Order to address map</strong> You can <code>map</code> the address to order here.An order can be mapped to multiple address</li>
</ul>
